@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Lower Mainland Yacht Co-op</h1>
    <p class="lead">The LMYC is the greatest boat club of all time!</p>
    <p><a href="http://www.lmyc.ca/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Login or Register an account with us to create a boat or something - it's fun.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Admins Control Your Role</h2>
        <p>Using a sweet user-role editing system we made, only an admin can give and take your privelages (as it should be).</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>We're also hosting this on Azure using VSTS for CI.</p>
    </div>
</div>