<div class="login-page">
    <div class="form">
      <h1>LMYC Login</h1>
      <form class="login-form">
        <input [(ngModel)]="username" runat="server" type="text" name="username" placeholder="username" required/>
        <input [(ngModel)]="passowrd" runat="server" type="password" name="password" placeholder="password" required/>
        <button id="btnLogin" runat="server" (click)="doLogin()">login</button>
        <!-- <p class="message">Not registered? <a href="#">Create an account</a></p> -->
      </form>
    </div>
  </div>  